* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1080px;
    max-height: 1920px;
    height: auto;
    width: auto;
    display: block;
}
body {
    height: 100vh;
    background: linear-gradient(to right, darkred, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Tahoma, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 1500px;
    transition: all 0.5s ease;
}
.photo {
    position: relative;
    width: 48%;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5 ease;
}
.photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    transition: transform 0.4s ease;
}
.photo:hover img {
    transform: scale(1.08);
}
.photo.active {
    width: 100%;
    transition: all 0.6 ease;
}
.photo.active img {
    transform: scale(1);
}
.photo.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}
.photo .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    color: white;
    background: gray;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.6 ease;
}
.photo.active .text {
    opacity: 1;
    transform: translateY(0);
}